body{
    font-family: Futura;
    background-color: #d1dfe8;
    margin:0;
    min-height: 100vh;
    background: var(--secondary);
    color: var(--text-default);
    display: grid;
    grid-template-columns: 16em auto ;
    transition: 0.3s ease ease-in-out;
}
:root{
    --accent: rgb(77, 115, 128); /* hover farve*/
    --primary: #fff;/* panel farve*/
    --secondary: #485a88;/* baggrund farve*/
    --text-default: #000;/* tekst panel farve*/
    --text-primary: #1d1933;/* tekst oversigt farve*/
    --text-secondary: #1a086e;
}


*{
    box-sizing: border-box;
    margin: 0;
}

ul{
    list-style:  none;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--text-primary);
}


p {
    color: var(--text-primary);
    font-size: 0.9em;
    line-height: 25px;
}

.sidebar{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    padding: 3em;
    width: 16em;
    overflow-y: scroll;
}

.sidebar ul:not(.mail){
    margin: 2em 0 5em 0;
}
.sidebar ul i {
    color: #0b1f25;
    font-size: 1.5em;
    margin-right: 0.5em;
}
.sidebar ul li {
    margin-right: 0.5em;
}

.sidebar ul a {
    padding: 0.7em;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.2s;
}

.sidebar ul a:hover{
    background: var(--accent);
    color:#fff;
}
.sidebar ul li:hover i {
    color:#fff;
}

main{
    padding: 2em;
}

.panel{
    background: var(--primary);
    border-radius: 0.8em;
    transistion: 0.3s ease-in-out;
    margin-top:20px ;
    display: flex;
    height: 500px;
}

.navbar , .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


-navbar ul li{
    display: inline-block;
    margin:0 0.5em;
}

.navbar .fas {
    cursor: pointer;
}

.dash .panel {
    padding: 1em;
}

.title{
    margin: 1.3em 0 0.5em 0;
}

.panel .icon{

    background: var(--secondary);
    font-size: 1.3em;
    color: var(--accent);
    margin-right: 1em;
    height: 2.8em;
    width: 2.8em;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.panel h2{
    margin-top:0.7em;
}

.menu{
    height: 30px;
    width: 100px;
    border-radius: 20px;
    color: white;

}

.menu a:hover{
    background: var(--accent);
    color:#fff;
    border-radius: 20px;


}


h5{
    color: black;
    margin-left: 130px ;
}

.popupUser{
    position: absolute;
    height: 400px;
    top: -150%;
    left: 50%;
    opacity:0;
    transform: translate(-50%, -50%) scale(1.25);
    width:380px;
    padding:20px 30px;
    background: linear-gradient(to right, #8ea3c4, #a9bfc2);
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transistion:top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 200ms,
    transform 20ms ease-in-out 200ms;

}
.popupUser.active{
    top:50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transistion:top 0ms ease-in-out 0ms,
    opacity 200ms ease-in-out 200ms,
    transform 20ms ease-in-out 200ms;
}

.popupUser .close-btn{
    position:absolute;
    top:10px;
    right:10px;
    width:17px;
    height:18px;
    background:#eee;
    text-align:center;
    line-height:15px;
    border-radius:15px;
    cursor: pointer;
}
.popupUser .form h5{
    text-align: center;
    color:black;
    margin:10px 0px 20px;
    font-size:25px;
}
.popupUser .form . form-element {
    margin: 15px 0px;
}

.popupUser .form .form-element label{
    font-size:14px;
    color:black;
    padding-top: 5px;
}

.popupUser .form-element input[type="text"],
.popupUser .form-element input[type="password"]{
    margin-top:5px;
    margin-bottom:10px;
    display: block;
    width:100%;
    padding: 10px;
    outline:none;
    border-radius:5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);





}

. form-element button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius:10px;
    cursor: pointer;
    font-weight: bold;

}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 0.5em;
}

thead{
    border-radius: 20px;
}

th, td {

    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #f5f7fc;
}

th {
    background-color: #f5f7fc;
}

.edit-btn{
    background-color: #060dbd;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}


.delete-btn {
    background-color: #f44336;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}



.edit-btn:hover, .delete-btn:hover {
    background-color: #2a2727;
}







