#reservationCard{
    margin: 50px;
}

#cardPic{
    float: right;
    width: 180px;
}
#reservationCard p {
    font-family: Haettenschweiler, sans-serif;
    width: 350px;
    float: left;
    margin: 20px;
    padding: 25px;
    border: 1px solid  #e26900;
    box-shadow: 0 0 30px #fc8d2d;
    background: black;
    line-height: 25px;
}


#reservationCard p span {
    font-family: "Bauhaus 93";
    font-size: 30px;
}

h1 {
    margin: 100px;
    font-size: 50px;
}

#background img{
    z-index: -1;
    position: absolute;
    top: -70px;
    left: -300px;
    width: 1300px;
    opacity: 0.5;
}

.noReservations{
    font-family: Haettenschweiler, sans-serif;
    margin: 100px;
    font-size: 20px;
}