
#frontPic {
    position: relative;
    width: 100%;
}

#frontPic img {
    height: 100%;
    width: 100%;
}

#frontPicText {
    text-transform: uppercase;
    font-family: "Bauhaus 93", sans-serif;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
    text-align: center;
    z-index: 1;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 10, 49, 0.8);
}

#button {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#button a {
    display: inline-block;
    background-color: #ee9621;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 60px;
    border-radius: 15px;
    transition: background-color 0.2s ease-in-out;
}

#button a:hover {
    background-color: #3d0f6d;
}

#info {
    text-align: center;
    margin: 100px 150px;
    margin-top: 130px;
    margin-bottom: 70px;
}

#info p {
    font-family: Impact, sans-serif;
    letter-spacing: 1px;
    color: white;
    font-size: 45px;
}

#activitiesWrapper {
position: relative;
    background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0) 0%,
    white 50%,
    rgba(255, 255, 255, 0) 100%);

    padding: 30px;
    width: 100%;
    height: 1350px;
    text-align: center;
    align-content: center;
}

.activities {
    text-align: center;
    display: inline-block;
    justify-content: center;
    position: relative;
    margin:30px;
}

.activities img {
    display: block;
    border-radius: 5px;
    text-align: center;
    width: 820px;
    height: 340px;
    float: left;
    object-fit: cover;
}



#paintball{
    margin-top: 30px;
}

.clickPic {
    margin-right: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ee9621 80%);
    height: 100px;
}

.clickPic a {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    display: block;
    text-align: center;
    padding: 5px;
    margin-top: 40px;
}

.clickPic:hover {
    background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0) 0%,
    #5a15a9 80%);
}

#paint {
    position: absolute;
    top: 70px;
    left: 75%;
    z-index: 1;
    width: 800px;
    height: 600px;
}

#paint2 {
    position: absolute;
    top: 800px;
    left: -600px;
    width: 1000px;
    height: 600px;

}

