#pic{
    position: absolute;
  left: 46%;
    width: 840px;
    height: 840px;
    top: 0px;
    float: right;
    z-index: -1;
}

#smudge{
    position: absolute;
    left: -300px;
    top: -60px;
    opacity: 0.5;
    height: 500px;
    width: 900px;
    z-index: -1;
}

#smudge2{

    position: absolute;
    left: -200px;
    top: 750px;
    opacity: 0.3;
    width: 120%;
    z-index: -1;


}
h1{
    font-size: 60px;
    text-transform: uppercase;
    background: linear-gradient( to bottom, #bb254d91, #3a0669);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;
}

#titleDiv{
    width: 600px;
    margin-left: 90px;
    margin-top: 100px;
}

#titleDiv p{
    width: 480px;
    font-family: Franklin Gothic Medium, sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5em;
    color: #d1dfe8;
}

#button {
    margin-left: 120px;
    margin-top: 50px;
}


#button a {
    display: inline-block;
    background-color: #f97a02;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 60px;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

#button a:hover {
    background-color: #3d0f6d;
}

#activityInfo {
    text-align: center;
    margin: 100px 150px;
    margin-top: 300px;
    margin-bottom: 70px;
}

#activityInfo p {
    font-family: Impact, sans-serif;
    letter-spacing: 2px;
    color: white;
    font-size: 45px;
    text-transform: uppercase;
}

#activitiesWrapper {
    position: relative;

    padding: 30px;
    width: 100%;
    height: 400px;
    text-align: left;
    align-content: center;
}

.activities {
    text-align: center;
    display: inline-block;
    justify-content: center;
    position: relative;
    margin: 30px;
    margin-bottom: 50px;
}

.activities img {
    display: block;
    border-radius: 5px;
    text-align: center;
    width: 380px;
    height: 300px;
    float: left;
    object-fit: cover;

}



#paintball{
    margin-top: 30px;
    margin-left: 80px;
}



.clickPic {
    margin-right: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 70%,
    rgba(76, 68, 84, 0.37) 100%),
    linear-gradient(to bottom, transparent, transparent 50%, #f5f5f5, transparent 50%, transparent);
    height: 300px;
    height: 300px;


}

.clickPic {
    border: 1px solid transparent;
    border-radius: 10px;

}

.clickPic a {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 30px;
    display: block;
    text-align: center;
    padding: 5px;
    padding-top: 230px;
}

.clickPic:hover {
    background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(43, 39, 51, 0.73) 80%);
}


.clickPic:hover a {
    color: #f3defc;
}

.popup.active {
    top: 25%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transistion: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 200ms, transform 20ms ease-in-out 200ms;
}


