
#paintballInfo {
    width: 450px;
    color: #ffffff;
    text-align: left;
    padding: 20px;
    padding-top: 0;
    margin-left: 850px;
}

#paintballInfoText {
    font-family: Haettenschweiler, sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin-top: 0;
    margin-left: 15px;
    margin-top: 40px;
    margin-bottom: 0;
    letter-spacing: 1px;
    line-height: 1.5;

}

#reservationDiv {
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 40px;

    padding: 70px;
    padding-top: 60px;
    background-color: rgba(42, 41, 41, 0.45);
    position: relative;
    border: 3px solid #ffad42;
    box-shadow: 0 0 30px rgb(255, 173, 66);
}

#background {
    position: absolute;
    transform: scaleX(-1);
    left: -70px;
    top: 0px;
    z-index: -1;
    overflow: hidden;
}


#background img {
    width: 890px;
    height: 890px;
}

#AvailableTimes {
    width: 500px;
    float: right;
    position: absolute;
    top: 140px;
    left: 600px;
    text-align: center;
}

#AvailableTimes label {
    position: absolute;
    left: 30px;
    margin-bottom: 100px;
}

.timeDiv {
    display: inline-block;
    width: 70px;
    height: 60px;
    border: 1px solid #ffffff;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 20px;
    padding-top: 10px;
}

.selected, .nextReservation:hover {
    background-color: #6c1cc5;
    color: white;
}

h1 {
    color: #ffad42;
    font-size: 80px;
    margin-bottom: 0;
}

#center button {
    position: relative;
    top: 0;
    left: 0;
}

h2 {
    color: #ffad42;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 30px;
}

.resInput {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    font-size: 20px;
}

#reservationDiv label {
    font-size: 20px;
}

.nextReservation {
    font-family: "Bauhaus 93", sans-serif;
    font-size: 20px;
    margin-top: 0px;
    background-color: #ffad42;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    color: white;
}

#prisBox {
    font-family: Haettenschweiler, sans-serif;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 20px;
}
#paint{
    position: absolute;
    left: 900px;
    top: 500px;
    filter: hue-rotate(180deg);
    z-index: -1;
    opacity: 0.3;

}

#paint2{
    width: 150px;
    position: absolute;
    left: 1100px;
    top: 350px;
    z-index: -1;
    rotate: 90deg;
    opacity: 0.3;

}

.popup{
    position: absolute;
    height: 400px;
    top: -150%;
    left: 50%;
    opacity:0;
    transform: translate(-50%, -50%) scale(1.25);
    width:380px;
    padding:20px 30px;
    background: linear-gradient(to right, #5a15a9, #3a0669);
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transistion:top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 200ms,
    transform 20ms ease-in-out 200ms;

}

.popup.active{
    top:1100px;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transistion:top 0ms ease-in-out 0ms,
    opacity 200ms ease-in-out 200ms,
    transform 20ms ease-in-out 200ms;
}