<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>
    <link rel="stylesheet" href="../static/navbar.css">

</head>
<body>

<header>
    <div class="wrapper">
        <img id="logo" src="../static/images/logohvid.png"/>
        <nav>
            <ul>
                <li><a href="hp.html">HJEM</a></li>
                <li><a href="hp.html">BOOKING</a></li>
                <li><a href="hp.html">LOG IND</a></li>
                <li></li>
            </ul>
        </nav>
    </div>
</header>

<script src="../JS/AdminViewReservations.js"></script>


<div id="reservationDiv">

</div>
</body>
</html>