<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>
    <link rel="stylesheet" href="../static/AdminViewReservations.css">


</head>
<body>


<div>
    <nav class="sidebar">


        <a href="Admin.html" class="brand">
            <h1 id="oversigt"> Oversigt</h1>
        </a>
        <ul>
            <li>
                <a href="Admin.html" id="u-Link">
                    <i class="brugere"></i>
                    <span> OPRET BRUGER </span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="reservationer"></i>
                    <span> RESERVATIONER </span>

                </a>
            </li>

            <li>
                <a href="">
                    <i class="mail"></i>
                    <span> UDSTYR </span>
                </a>
            </li>
        </ul>
        <img  id="logo" src="../static/images/logoPurple.png"/>
    </nav>
</div>


<div id="reservationDivWrapper">

    <div class="menu">
        <a id="logoutBtn" href="UserLogin.html">Log ud</a>
    </div>

    <div id="searchBar">
        <input type="text" id="searchQuery" placeholder="   Søg status eller navn">
    </div>

    <h1>
        Reservationer - Afventer godkendelse
    </h1>

    <div id="reservationDiv">
        <table id="userTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Kunde</th>
                <th>Email</th>
                <th>Aktivitet</th>
                <th>Dato</th>
                <th>Tid</th>
                <th>Status</th>
                <th>Godkend</th>
                <th>Annuller</th>
            </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>

    <h1>
        Godkendte reservationer
    </h1>
    <div id="ALlConfirmedReservations">
        <table id="AllConfTable">
            <thead>
            <tr id="trC">
                <th>ID</th>
                <th>Kunde</th>
                <th>Email</th>
                <th>AKtivitet</th>
                <th>Dato</th>
                <th>Tid</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="ALlConfTableBody">
            </tbody>
        </table>
    </div>


    <h1>
        Annullerede reservationer
    </h1>
    <div id="ALlCancelledReservations">
        <table id="AllCancelledTable">
            <thead>
            <tr id="trCan">
                <th>ID</th>
                <th>Kunde</th>
                <th>Email</th>
                <th>AKtivitet</th>
                <th>Dato</th>
                <th>Tid</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="ALlCancelTableBody">
            </tbody>
        </table>
    </div>


</div>

<div class="popupUser">
    <div class="close-btn">&times;</div>

    <form action="http://localhost:8080/Admin" method="post" id="CreateUser">

        <h5>Opret</h5>


        <div class="form-element">
            <label for="username">Brugernavn</label>
            <input type="text" id="username" name="username" placeholder="Indtast brugernavn">
        </div>


        <div class="form-element">
            <label for="password">Adgangskode</label>
            <input type="password" id="password" name="password" placeholder="Indtast adgangskode">
        </div>
        <br>

        <div class="form-element">
            <button id="submitButton" class="button" type="submit" value="submit"> Gem</button>
        </div>
    </form>
</div>
<br>

</div>

<script src="../JS/AdminViewReservations.js"></script>
<script src="../JS/searchBar.js"></script>

</body>
</html>