<!DOCTYPE html>
<html>
<head>
  <title>Clickable Boxes</title>
  <style>
    .box {
      display: inline-block;
      width: 50px;
      height: 50px;
      border: 1px solid black;
      margin: 10px;
      text-align: center;
      line-height: 50px;
      cursor: pointer;
    }

    .selected {
      background-color: blue;
      color: white;
    }
  </style>
</head>
<body>
<div class="box" id="box1">Value 1</div>
<div class="box" id="box2">Value 2</div>
<div class="box" id="box3">Value 3</div>

<form id="myForm" method="POST" action="submit.php">
  <input type="hidden" id="selectedValue" name="selectedValue">
  <label for="input1">Input 1:</label>
  <input type="text" id="input1" name="input1">
  <label for="input2">Input 2:</label>
  <input type="text" id="input2" name="input2">
  <button type="submit">Submit</button>
</form>

<script>
  // get box elements
  var box1 = document.getElementById('box1');
  var box2 = document.getElementById('box2');
  var box3 = document.getElementById('box3');

  // add click event listeners
  box1.addEventListener('click', function() {
    selectBox(this, 'value1');
  });

  box2.addEventListener('click', function() {
    selectBox(this, 'value2');
  });

  box3.addEventListener('click', function() {
    selectBox(this, 'value3');
  });

  function selectBox(box, value) {
    // remove selected class from all boxes
    var boxes = document.querySelectorAll('.box');
    for (var i = 0; i < boxes.length; i++) {
      boxes[i].classList.remove('selected');
    }

    // add selected class to clicked box
    box.classList.add('selected');

    // set selected value
    document.getElementById('selectedValue').value = value;
  }
</script>
</body>
</html>
