<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bekræftelse</title>
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/confirmation.css">

</head>
<body>
<header>
    <div class="wrapper">
        <img id="logo" src="../static/images/logohvid.png"/>
        <nav>
            <ul id="navbarWrapper">
            </ul>
        </nav>
    </div>
</header>

<div id="BG">
    <img src="../static/images/smudge2.png"/>
</div>



<div id="Confirmation">

  <h1>Tak for din reservation!</h1>

  <div id="confirmedReservationInfo"></div>

</div>
<script src="../JS/confirmation.js"></script>
<script src="../JS/navbarIteration.js"></script>
</body>
</html>