<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservationer</title>
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/CustomerReservations.css">

</head>
<body>

<header>
    <div class="wrapper">
        <img id="logo" src="../static/images/logohvid.png"/>
        <nav>
            <ul>
                <li><a href="hp.html">HJEM</a></li>
                <li><a href="hp.html">BOOKING</a></li>
                <li><a href="hp.html">LOG IND</a></li>
                <li></li>
            </ul>
        </nav>
    </div>
</header>

<div id="background">

    <img src="../static/images/smudge2.png"/></div>

<h1>Dine Reservationer</h1>
<div id="customerName"></div>

<div id="reservationCard">

    <div id="reservationCardInfo"></div>

</div>

<script src="../JS/CustomerReservations.js"></script>
</body>
</html>