<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservationer</title>
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/CustomerReservations.css">

</head>
<body>

<header>
    <div class="wrapper">
        <img id="logo" src="../static/images/logohvid.png"/>
        <nav>
            <ul>
                <li><a href="hp.html">HJEM</a></li>
                <li><a href="#">AKTIVITETER</a></li>
                <li><a href="#">LOGIN</a></li>
                <li><a id="logout" href="hp.html">LOG UD</a></li>
                <li></li>
            </ul>
        </nav>
    </div>
</header>

<script src="../JS/CustomerReservations.js"></script>

</body>
</html>