<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adventure Alley</title>
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/homepage.css">

</head>
<body>

<header>
    <div class="wrapper">
        <img id="logo" src="../static/images/logohvid.png"/>
        <nav>
            <ul>
                <li><a href="#">HJEM</a></li>
                <li><a href="#">AKTIVITETER</a></li>
                <li><a href="#">PRISER</a></li>
                <li><a href="Login.html">LOGIN</a></li>
                <li>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div id="frontPic">
    <div id="frontPicText">
        Den Ultimative Adrenalinpumpende Oplevelse
    </div>

    <div id="overlay"></div>
    <img src="../static/images/hall.png"/>

    <div id="button">
        <a href="#">BOOK NU</a>
    </div>
</div>

<div id="info">
    <p>
        Besøg os i Adventure Alley, og oplev spændingen med vores aktiviteter!
    </p>

</div>

<div id="activitiesWrapper">

    <div id="activities">

        <div id="paintball" class="activities">

            <img src="../static/images/paintball.png"/>
            <div class="clickPic">
                <a href="paintballLandingpage.html">paintball</a>
            </div>
        </div>

        <div id="gocart" class="activities">

            <img src="../static/images/gocart.png"/>
            <div class="clickPic">
                <a href="#">go cart</a>
            </div>
        </div>
        <div id="lasertag" class="activities">

            <img src="../static/images/lasertag.png"/>
            <div class="clickPic">
                <a href="#">lasertag</a>
            </div>
        </div>
    </div>

    <img id="paint" src="../static/images/paintsplash.png"/>
    <img id="paint2" src="../static/images/paintsplash.png"/></div>
<br>
<br>
<br>
</body>
</html>