<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adventure Alley</title>
    <link rel="stylesheet" href="../static/homepage.css">
</head>
<body>

<header>
    <div class="wrapper">
        <img class="main-menu-logo-image___1Ov1X"
             src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/v1/Logos/logo_brands_0922_ltj2wu.svg"
             alt="Bilabonnement">
        <nav>
            <ul >
                <li><a href="/">Home</a></li>
                <li><a href="/">Tilføj Lejeaftale</a></li>
                <li><a href="/">Log af</a></li>
                <li>
                </li>
            </ul>
        </nav>
    </div>
</header>


</body>
</html>