<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adventure Alley</title>

    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/loginpage.css">
    <link rel="stylesheet" href="../static/hp.css">

</head>
<body>
<header>
    <div class="wrapper">
        <img id="logo" src="../static/images/logohvid.png"/>
        <nav>
            <ul>
                <li><a href="#">HJEM</a></li>
                <li><a href='#'>BOOKING</a></li>
                <li><a href='CustomerReservations.html'>MINE RESERVATIONER</a></li>
                <li><a href="#popup" id="login-link" >LOG IND</a></li>
            </ul>
        </nav>
    </div>
</header>

<div>
    <img id="smudge" src="../static/images/smudge.png" height="406" width="720"/>
    <img id="smudge2" src="../static/images/smoke.png"/>
    <img id="pic" src="../static/images/Billede1.png" />

</div>

<div id="titleDiv">
    <h1>Den Ultimative Adrenalinpumpende Oplevelse</h1>

    <p id="info">
        Københavns fedeste aktivitetscenter med paintball, gokart og lasertag, der tilbyder spænding og sjov for alle aldre.
        Udfordr dine venner og familie til en dag fyldt med action og konkurrence på dette center, der har det hele!
    </p>
</div>

<div id="button">
    <a href="#">BOOK NU</a>
</div>

<div id="activityInfo">
    <p>
        Udforsk vores aktiviteter
    </p>

</div>

<div id="activitiesWrapper">

    <div id="activities">

        <div id="paintball" class="activities">

            <img src="../static/images/img_1.png"/>
            <div class="clickPic">
                <a href="paintballLandingpage.html">paintball</a>
            </div>
        </div>

        <div id="gokart" class="activities">

            <img src="../static/images/img_2.png"/>
            <div class="clickPic">
                <a href="#">go kart</a>
            </div>
        </div>
        <div id="lasertag" class="activities">

            <img src="../static/images/img_3.png"/>


            <div class="clickPic">
                <a href="#">lasertag</a>
            </div>
        </div>
    </div>
</div>


<div id="bund">
    <footer>
        <div class="footer-container">
            <p>&copy; 2023 Adventure Alley. All rights reserved.</p>

                <a href="#">Privacy Policy</a> <br>
                <a href="#">Terms of Service</a><br>
                <a href="#">Contact Us</a><br>

        </div>
    </footer>
</div>
</div>

<div class="overlay">

<div class="popup">
    <div class="close-btn">&times;</div>

    <div class="form" id = "loginForm" >
        <h2>Login</h2>


        <div class="form-element">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Indtast din email">
        </div>


        <div class="form-element">
            <label for="password">Adgangskode</label>
            <input type="password" id="password" placeholder="Indtast adgangskode">
        </div>
        <br>

        <div class="form-element">
            <button id="submitButton" class="button" type = "submit" value ="submit" > Sign in </button>
        </div>
    </div>
    <br>
    <a href="SignUp.html" id = "linkSignUp" >Klik her for at tilmelde dig</a>



</div>
</div>

<script src="../JS/Login.js"></script>


</body>
</html>