<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paintball</title>
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/loginpage.css">
    <link rel="stylesheet" href="../static/paintballLandingpage.css">

</head>
<body>

<header>
    <div class="wrapper">
        <img id="logo" src="../static/images/logohvid.png"/>
        <nav>
            <ul>
                <li><a href="hp.html">HJEM</a></li>
                <li><a href="#">AKTIVITETER</a></li>
                <li><a href="#">LOGIN</a></li>
                <li><a id="logout" href="hp.html">LOG UD</a></li>
                <li></li>
            </ul>
        </nav>
    </div>
</header>
<div id="background">
    <img id="man" src="../static/images/man.png"/>

</div>

<div id="paintballInfo">
    <h1>PAINTBALL</h1>
    <p id="paintballInfoText">
        Book en time med paintball for dig og dine venner. Vores paintballbane er perfekt til grupper på <span
            style="font-weight: bold"> 10-18 deltagere </span>, og vi tilbyder en fantastisk oplevelse til en pris på
        kun 250 kr. pr. person.
        Vores erfarne personale vil sørge for, at du og dine venner får den bedste tid nogensinde.
        <br><br>
        Tøv ikke med at kontakte os for at booke din paintballoplevelse i dag. Vi glæder os til at se dig og dine venner
        på banen!
    </p>
    <div id="prisBox">
        <h4>Pris: 350 kr. pr. deltager</h4>
        <h4>Deltager: 10-18 deltagere</h4>
        <h4>Varighed: 60 min </h4>
    </div>
</div>

<div id="reservationDiv">


    <img id="paint" src="../static/images/paint.png"/>
    <img id="paint2" src="../static/images/paint.png"/>

    <h2>Reservation</h2>

    <div id="customerName"></div>
    <div id="reservation">


        <form method="post">
            <label for="date">Vælg Dato</label><br>
            <input class="resInput" type="date" id="date" name="date" required>

            <br>
            <div id="AvailableTimes">
                <label for="AvailableTimes">Vælg Tidspunkt</label><br>
                <div id="insideAvailableTimes"></div>
                <input type="hidden" id="sTime" name="selectedTime">
            </div>

            <br><br>

            <label for="participants">Antal Deltager: </label> <br>
            <input class="resInput" type="number" id="participants" name="participants" min="10" max="20" required><br>

            <div id="priceTotal">
                Pris:
            </div>

            <br><br>
            <button class="nextReservation2" type="submit">Forsæt Reservation</button>
        </form>

        <button class="nextReservation" type="submit" value="Næste" href="#popup" id="login-link">Næste</button>


    </div>
</div>
<br>
<br>
<br>
<br>

<div class="overlay">


    <div class="popup">
        <div class="close-btn">&times;</div>

        <div class="form" id="loginForm">
            <h2>Login</h2>


            <div class="form-element">
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="Indtast din email">
            </div>


            <div class="form-element">
                <label for="password">Adgangskode</label>
                <input type="password" id="password" placeholder="Indtast adgangskode">
            </div>


            <div class="form-element">
                <button class="form-element" id="submitButton" type="submit" value="submit"> Log ind</button>
            </div>
        </div>
        <br>
        <a href="SignUp.html" id="linkSignUp">Klik her for at tilmelde dig</a>

    </div>

</div>
<script src="../JS/Reservation.js"></script>
<script src="../JS/Login.js"></script>

</body>
</html>