<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paintball</title>
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/loginpage.css">
    <link rel="stylesheet" href="../static/paintballLandingpage.css">

</head>
<body>

<header>
    <div class="wrapper">
        <img id="logo" src="../static/images/logohvid.png"/>
        <nav>
            <ul>
                <li><a href="hp.html">HJEM</a></li>
                <li><a href="#">AKTIVITETER</a></li>
                <li><a href="#">PRISER</a></li>
                <li><a href="#">LOGIN</a></li>
                <li>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div id="background">
    <img src="../static/images/man.png" />
</div>

<div id="paintballInfo">
    <h1>PAINTBALL</h1>
    <p id="paintballInfoText">
        Book en time med paintball for dig og dine venner. Vores paintballbane er perfekt til grupper på <span style="font-weight: bold"> 6-18 deltagere </span>, og vi tilbyder en fantastisk oplevelse til en pris på kun 250 kr. pr. person.
        Vores paintballbane er designet til at give dig den ultimative oplevelse, og vores erfarne personale vil sørge for, at du og dine venner får den bedste tid nogensinde.
        <br><br>Vi tilbyder en bred vifte af paintball-udstyr, så du kan vælge det, der passer bedst til dig.

        Så tøv ikke med at kontakte os for at booke din paintballoplevelse i dag. Vi glæder os til at se dig og dine venner på banen!
    </p>
</div>

<div id="reservationDiv">


    <h2>Reservation</h2>

    <div id="reservation">
        <form action="http://localhost:8080/paintballBooking" method="post" id="CreateReservation">
            <label for="date">Vælg Dato</label><br>
            <input type="date" id="date" name="date"><br>

            <br>
            <br>

            <div id="AvailableTimes">
                <input type="hidden" id="selectedTime" name="selectedTime">
            </div>

            <br>
            <br>
            <label for="participants">Antal Deltager: </label> <br>
            <input type="number" id="participants" name="participants"><br>

            <br><br>
            <input id="nextReservation" type="submit" value="Næste">
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class ="center">
    <button id="show-login">Login</button>
</div>

<div class="popup">
    <div class="close-btn">&times;</div>

    <div class="form" id = "loginForm" >
        <h2>Login</h2>


        <div class="form-element">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Indtast din email">
        </div>


        <div class="form-element">
            <label for="password">Adgangskode</label>
            <input type="password" id="password" placeholder="Indtast adgangskode">
        </div>


        <div class="form-element">
            <button  class="form-element" id="submitButton" type = "submit" value ="submit" > Sign in </button>
        </div>
    </div>


</div>


<script src="../JS/Reservation.js"></script>
<script src="../JS/Login.js"></script>

</body>
</html>