<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>

</head>
<body>

<!--
<form action= "http://localhost:8080/test" method="post" id ="accountLogin" >
    <h2>LOG IND</h2>
    <br><br>
    <label for="Email"></label>
    <input id="email" type="text" name="email" placeholder="email" required/>
    <br><br>
    <label for="password"></label>
    <input id="password" type="password" name="password" placeholder="Adgangskode" required/>

    <button id="verifyAccount" type="submit">Log ind</button>
</form>
-->

<h2>LOG IND</h2>
<br><br>
<label for="Email"></label>
<input id="email" type="text" name="email" placeholder="email" required/>
<br><br>
<label for="password"></label>
<input id="password" type="password" name="password" placeholder="Adgangskode" required/>

<input id="verifyAccount" type="submit">Log ind</input>

<script src="../JS/test.js"></script>

</body>
</html>