<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/images/Udstyr.css">

    <title>Udstyr</title>
</head>
<script src="https://kit.fontawesome.com/26b6925bcb.js" crossorigin="anonymous"></script>

<body>

<div>
    <nav class="sidebar">

        <a href="Admin.html" class="brand">
            <h1> Oversigt</h1>
        </a>
        <ul>
            <li>
                <a href="Admin.html" id="u-Link">
                    <i class="brugere"></i>
                    <span> OPRET BRUGER </span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="reservationer"></i>
                    <span> RESERVATIONER </span>

                </a>
            </li>

            <li>
                <a href="">
                    <i class="mail"></i>
                    <span> UDSTYR </span>
                </a>
            </li>
        </ul>
    </nav>
</div>




<div id = "equipmentWrapper">
    <div class="menu">
        <a id ="logoutBtn" href="UserLogin.html" >Log ud</a>
    </div>

    <div class="icon">
        <i class="fas fa-list"></i>
    </div>
    <h1>
        Udstyr
    </h1>

<div id="titleDiv">
<div class="container">
    <div class="card" id="paintball"  >
        <h2 >
            Paintball
        </h2>

    </div>
    <div class="card" id="lasertag" >
        <h3>
            Lasertag
        </h3>
    </div>
    <div class="card" id="gokart-biler">
        <h4>
            Gokart biler
        </h4>
    </div>
    <div class="card" id="gokart-dragter-hjelme">
        <h5>
             Gokart - dragter og hjelme
        </h5>
    </div>
</div>
</div>


    <div id="equipmentDiv">

        <div class = "paintballPopup" id = "popup1">
            <h6>
                Paintball guns
            </h6>
            <button id="close-button">x</button>
            <table>
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Photo</th>
                    <th>Items Left</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Item 1</td>
                    <td><a href="#"><img src="../static/images/redgun.png" alt="Item 1" id ="gun1"></a></td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Item 2</td>
                    <td><a href="#"><img src="../static/images/black-pistol-copy.png" alt="Item 2" id ="gun2"></a></td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Item 3</td>
                    <td><a href="#"><img src="../static/images/bluegun.png" alt="Item 3" id ="gun3"></a></td>
                    <td>3</td>
                </tr>
                </tbody>
            </table>


        </div>

    </div>



    <div class = "lasertagPopup" id = "popup2">
        <h6>
             Oversigt Lasertag

        </h6 >

        <button id="close-button2">x</button>
        <table>
            <thead>
            <tr>
                <th>Item</th>
                <th>Photo</th>
                <th>Items Left</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Item 1</td>
                <td><a href="#"><img src="../static/images/lasertag/laser-tag-vest.png" alt="Item 1" id ="laser1"></a></td>
                <td>20</td>
            </tr>
            <tr>
                <td>Item 2</td>
                <td><a href="#"><img src="../static/images/lasertag/lasertag-gun1.png" alt="Item 2" id ="laser2"></a></td>
                <td>20 </td>
            </tr>
            <tr>
                <td>Item 3</td>
                <td><a href="#"><img src="../static/images/lasertag/lasertag-gun.png" alt="Item 3" id ="laser3"></a></td>
                <td>30</td>
            </tr>
            </tbody>
        </table>
    </div>





</div>




<script src="../JS/Udstyr.js"></script>


</body>
</html>


