<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/images/Udstyr.css">

    <title>Udstyr</title>
</head>
<script src="https://kit.fontawesome.com/26b6925bcb.js" crossorigin="anonymous"></script>

<body>

<div>
    <nav class="sidebar">

        <a href="Admin.html" class="brand">
            <h1> Oversigt</h1>
        </a>
        <ul>
            <li>
                <a href="Admin.html" id="u-Link">
                    <i class="brugere"></i>
                    <span> OPRET BRUGER </span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="reservationer"></i>
                    <span> RESERVATIONER </span>

                </a>
            </li>

            <li>
                <a href="">
                    <i class="mail"></i>
                    <span> UDSTYR </span>
                </a>
            </li>
        </ul>
    </nav>
</div>




<div id = "equipmentWrapper">
    <div class="menu">
        <a id ="logoutBtn" href="UserLogin.html" >Log ud</a>
    </div>

    <div class="icon">
        <i class="fas fa-list"></i>
    </div>
    <h1>
        Udstyr
    </h1>

<div id="equipmentDiv">
<div class="container">
    <div class="card">
        <h2>
            Paintball
        </h2>

    </div>
    <div class="card">
        <h3>
            Lasertag
        </h3>
    </div>
    <div class="card">
        <h4>
            Gokart biler
        </h4>
    </div>
    <div class="card">
        <h5>
             Gokart - dragter og hjelme
        </h5>
    </div>
</div>
</div>


    <div id="gunsDiv">
        <ul>
            <li><img src="../static/images/redgun.png" alt="Photo 1" id="gun"></li>
            <li><img src="../static/images/black-pistol-copy.png" alt="Photo 1" id="gun2"></li>
            <li><img src="../static/images/bluegun.png" alt="Photo 1" id="gun3"></li>

        </ul>
    </div>
</div>



</body>
</html>


